.homepage-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.homepage__banner {
  font-family: $font-header;
  display: flex;
  flex-direction: column;
  line-height: 15px;

  h2 {
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
  }

  p {
    font-family: $font-text;
  }

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-element {
    margin-bottom: 2px;
    width: 299px;
    position: relative;
    color: $color-light;

    p {
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }

    &:hover h2 {
      transform: translateY(-180%);
    }

    &:hover p {
      visibility: visible;
      transform: translateY(-210%);
    }

    &-info {
      background-color: $color-main;
      border-radius: $radius;
      color: $color-light;
      width: 100%;
      height: 120px;
      position: relative;
    }
  }
}

.banner-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: $radius;
}

.banner-description {
  text-align: center;
  position: absolute;
  width: 300px;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

.banner-text {
  text-align: center;
  position: absolute;
  width: 300px;
  right: 50%;
  bottom: 0px;
  transform: translate(50%, 30%);
}

.rectangle-image {
  width: 193px;
  height: 193px;
  border-radius: $radius;
  object-fit: cover;
}

.carousel {
  overflow: hidden;
  margin-top: 100px;
  position: relative;
  height: 193px;

  &__container {
    display: flex;
    position: absolute;
    background-color: $color-light;
    transition: transform 1s ease;
    z-index: 1;

    &-description {
      padding-left: 35px;
      width: 412px;
    }
  }
}

.carousel-nav {
  display: flex;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 35px 7px;
}

.dot-light {
  background-color: $color-additional;
}

.dot-dark {
  background-color: $color-dark;
}

.carousel-title {
  font-weight: $font-bold;
}

.carousel-caption {
  font-style: italic;
  margin-top: 30px;
}

.carousel-position-left {
  transform: translateX(-100%);
}

.carousel-position-right {
  transform: translateX(100%);
  z-index: -90;
}
