.homepage-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.homepage__banner {
  font-family: $font-header;
  display: flex;
  flex-direction: column;
  line-height: 15px;

  h2 {
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
    font-size: 26px;
    letter-spacing: -1px;
    word-spacing: 2px;
    font-weight: $font-bold;
  }

  p {
    font-family: $font-text;
  }

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }

  &-element {
    margin-bottom: 5px;
    width: 299px;
    position: relative;
    color: $color-light;

    @media (max-width: 800px) {
      width: 100%;
    }

    p {
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }

    &:hover h2 {
      transform: translateY(-180%);
    }

    &:hover p {
      visibility: visible;
      transform: translateY(-210%);
    }

    &-info {
      background-color: $color-main;
      border-radius: $radius;
      color: $color-light;
      width: 100%;
      height: 120px;
      position: relative;
    }
  }
}

.banner-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: $radius;
}

.banner-description {
  text-align: center;
  position: absolute;
  width: 300px;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

.banner-text {
  text-align: center;
  position: absolute;
  width: 300px;
  right: 50%;
  bottom: 0px;
  transform: translate(50%, 30%);
}

.rectangle-image {
  width: 193px;
  height: 193px;
  border-radius: $radius;
  object-fit: cover;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.slideshow {
  @media (max-width: 800px) {
    display: none;
  }
}

.carousel {
  overflow: hidden;
  margin-top: 101px;
  position: relative;
  height: 193px;

  &__container {
    display: flex;
    position: absolute;
    background-color: $color-light;
    transition: transform 1s ease;
    z-index: 1;

    &-description {
      padding-left: 40px;
      width: 412px;
      padding-top: 5px;
    }
  }
}

.carousel-nav {
  display: flex;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 37px 8px;
}

.dot-light {
  background-color: $color-additional;
}

.dot-dark {
  background-color: $color-dark;
}

.carousel-title {
  font-weight: $font-bold;
}

.carousel-text {
  line-height: 23px;
}

.carousel-caption {
  font-style: italic;
  margin-top: 25px;
  line-height: 23px;
}

.carousel-position-left {
  transform: translateX(-100%);
}

.carousel-position-right {
  transform: translateX(100%);
  z-index: -90;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 0;
  margin-top: 15px;

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    display: none;

    @media (max-width: 800px) {
      display: block;
      text-align: center;
      font-family: $font-header;
    }
  }

  &__link {
    color: $color-main;
    margin-top: 19px;
  }

  &__box {
    position: relative;
    margin-top: 5px;

    @media (max-width: 800px) {
      width: 100%;
    }

    &-image {
      opacity: 1;
      transition: .5s ease;
    }

    &-layer {
      transition: .6s ease;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 193px;
      height: 193px;
      border-radius: $radius;
      background: black;
    }

    &-icons {
      transition: .6s ease;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 193px;
      height: 193px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;

      .fas {
        font-size: 16px;
        color: $color-light;
        margin: 5px;
        cursor: pointer;

        &:hover {
          color: $color-main;
        }
      }
    }
  }

  &__box:hover .gallery__box-layer {
    opacity: 0.5;
  }

  &__box:hover .gallery__box-icons {
    opacity: 1;
  }
}
